@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: clip;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

@font-face {
    font-family: "CutiePatootie";
    src: url("../fonts/CutiePatootie-Rgjv.ttf") format('truetype');
}

@font-face {
    font-family: "CutiePatootieHollow";
    src: url("../fonts/CutiePatootieHollow-BpZG.ttf") format('truetype');
}

@font-face {
    font-family: "CutiePatootieSkinny";
    src: url("../fonts//CutiePatootieSkinny-8zXZ.ttf") format('truetype');
}